body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.clip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip: rect(auto, auto, auto, auto);
    pointer-events: none;
}

.header {

    margin: 0 auto;
    background-color: #87509c;
    top: 0;
    /*height: 37px;*/
    width: 100%;
    position: fixed;
    pointer-events: all;
    z-index:1;
}

.header_sticky {
    margin: 60px auto 0;
    position: sticky;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;

}



.introduction .header {
    background-color: #87509c;
}

.services__content{
    justify-content: stretch;
}

.services .header {
    background-color: #17c2a4;
}

.team .header{
    background-color: #e7f1f8;
}

.container {
    max-width: 1100px;
    margin: auto;

}

.introduction {
    background-color: #87509c;
    min-height: 100vh;
    display: flex;

}

.link {
    text-decoration: none;
}

.nav {
    display: flex;
    padding-top: 5px;
    /*padding-bottom: 10px;*/
}

.nav__link {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    width: 77px;
    display: block;
    margin-left: 15px;
    text-align: center;

}

.nav__link:hover {
    text-align: center;
    background-color: #643a79;
    /*width: 77px;*/
    /*height: 32px;*/
    /*line-height: 32px;*/
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.heading {
    text-align: center;
    margin: 0;
    color: #f7f3ea;
    /*height: 88px;*/
    max-width: 906px;
    font-size: 42px;
    line-height: 49px;
    font-weight: 700;
}

.introduction__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.link-button {
    margin-top: 65px;
    color: #ffffff;
    letter-spacing: 0.27px;
    background-color: #eb7d4b;
    min-width: 293px;
    /*height: 70px;*/
    text-align: center;
    display: block;
    line-height: 70px;
    border-radius: 4px;
    text-transform: uppercase;

}

.link-button:hover {
    background-color: #eb6630;
}

.services {
    background-color: #17c2a4;
    min-height: 100vh;

}

.services .nav__link:hover{
    background-color: #10ac8f;
}

.section {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

/*был пустой,добавил стили */
.block-title {
    display: flex;
    flex-direction: column;
    align-items: center
}

.block-title__heading {
    margin: 0;
    /*height: 29px;*/
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

}

.block-title__hr {

    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
    margin-top: 21px;
    margin-bottom: 0;


}

.block-title__subheading {

    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 14px auto 0;
    max-width: 600px;
}


.services__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 80px;
}

.content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 60px);

}

.content-block__image-wrap {
    min-height: 140px;
}

.services__content__image {


}

.content-block__title {
    text-align: center;
    /*height: 18px;*/
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin: 60px 0 0;
}

.content-block__text {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 22px 0 0;

    /*letter-spacing: 0.32px;*/

}

/*тут добавил высоту*/
.team{
    background-color: #e7f1f8;
    /*height: 100vh;*/
    /* убрал,т.к там больше 100вх,спросить у артема*/
}

.content-block__position{
    color: #30bae7;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 15px 0 0;
}

.team .nav__link{
    color: #3c4761;
}

.team .nav__link:hover{
    background-color: #cbd4d9;
}

.team .block-title__heading{

    color: #3c4761;

}

.block-title__subheading{

    color: #3c4761;

}

.team .content-block__title {

    color: #3c4761;
    line-height: 1;

}

.team .content-block__text{

    color: #3c4761;
    margin: 25px 0 0;

}

.content-block__contacts{

    display: flex;
    flex:1;
    /*align-items:  flex-end;*/
    margin: 25px 0 0;
    /*добавил*/
    justify-content: space-between;
    overflow-y: hidden;

}

.content-block__links{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 25px 0 0;
    flex:1;
}

.social-link__image{
    margin: 0 0 0 12px;
}
/*.content-block-contacts__image{*/

/*    margin: 30px 0 0 12px;*/

/*}*/

.contacts__link{
    text-decoration: none;
}





.skills{
    background-color: #ffffff;
    min-height: 100vh;

}

.skills .header{
    background-color: #ffffff;
}

.skills .nav__link{
    color: #3c4761;
}

.skills .nav__link:hover{
    background-color: #dddbdb;
}

.skills .block-title__heading{

    color: #3c4761;

}

.skills .block-title__subheading{

    color: #3c4761;

}


.skills__content{

    margin-top: 85px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skills-content__circle{

    max-width: 260px;

}

.skills__content svg{

    margin: 0 40px 0;

}
.progress-ring{
    /*color: #2a3d73;*/
    /*background-color: #3c4761;*/
    position: relative;
}

.skill-name{

    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 30px;

}

.progress-ring__percent {

    position: absolute;
    top:50%;
    left:50%;
    transform: translate( -50%, -50%);

}


.skills__content input{

    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    border: none;
    padding-left: 10px;

}

.progress-ring__percent::after{

    content: "%" ;
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
}

.skills__content circle{
   stroke: #30bae7;

}

.circle-1 circle{

    stroke: #d74680;

}


.circle-2 circle{

    stroke: #15c7a8;

}

.circle-3 circle{

    stroke: #eb7d4b;

}

.progress-ring__circle{

    /*color: #2a3d73;*/
    /*background-color: #636f8f;*/
    /*stroke-dasharray: 10;*/
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

}

.skills-pure{

    min-height: 100vh;
    background-color: mediumslateblue;

}

.skills-pure .header{
    background-color: mediumslateblue;
}

.skills-pure svg{

    position: relative;
    width: 150px;
    height: 150px;
    /*z-index: 1000;*/

}


.circles{

    margin-top: 80px;
    display: flex;
    justify-content: space-around;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    text-align: center;
}

.skills-pure svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #dfe8ed;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate( 5px, 5px);

}

.percent{

    position: relative;

}

.number{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);

}

.skills-pure svg circle:nth-child(2){

    stroke-dasharray: 440;
    stroke-dashoffset: 440;

}

.card:nth-child(1) svg circle:nth-child(2){

    stroke-dashoffset: calc( 440 - (440 * 90) / 100);
    stroke: #30bae7;

}

.card:nth-child(2) svg circle:nth-child(2){

    stroke-dashoffset: calc( 440 - (440 * 75) / 100);
    stroke: #d74680;

}

.card:nth-child(3) svg circle:nth-child(2){

    stroke-dashoffset: calc( 440 - (440 * 70) / 100);
    stroke: #15c7a8;

}

.card:nth-child(4) svg circle:nth-child(2){

    stroke-dashoffset: calc( 440 - (440 * 85) / 100);
    stroke: #eb7d4b;

}


.portfolio{
    background-color: #ffdd99;
    /*height: 100vh;*/
}

.portfolio .header{
    background-color: #ffdd99;
}

.portfolio .nav__link{
    color: #393939;
}

.portfolio .nav__link:hover{
    background-color: #ffcb7a;
}

.portfolio .link-button{
    max-width: 293px;
}

.portfolio__link-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .block-title__heading{
    color: #393939;
}

.portfolio .block-title__subheading{
    color: #393939;
}

.portfolio-content-portfolio__link{
    display: flex;
    justify-content: center;
    margin: 40px 0 0;


}

.portfolio__link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #7b97ff;
    margin: 0 0 0 15px;
    border-radius: 4px;
    width: 84px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #000000;

}

.portfolio .link-button{

    background-color:#17c2a4
}

.portfolio .link-button:hover{

    background-color: #139b83;
    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

}

.portfolio__link:hover{

    background-color: #75ff91;

}

.work-examples{
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
    justify-content: space-between;
}

.work-examples__image{
    /*margin-left: 15px;*/
}

.work-examples__name{

    /*height: 14px;*/
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    text-align: center;
    margin-top:30px;
}

.work-examples__block{
    margin: 65px auto 0;

}

.work-examples .link-button{
    background-color: #17c2a4;
}

.work-examples .link-button:hover{
    background-color: #10917b;
}


.about{
    /*height: 100vh;*/
    background-color: #d74680;
}

.about .header{
    background-color: #d74680;
}

.about .nav__link:hover{
    background-color: #9b2b58;
}


.reviews{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -80px;
}

.review{

    display: flex;
    flex-wrap: wrap;
    margin: 160px auto 0;

}

/*.review-margin{*/

/*    margin-top: 150px;*/

/*}*/

.review__content {

    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
}
.review__text{


    color: #ffffff;
    font-size: 21px;
    line-height: 31px;
    max-width: 360px;

}

.review__info{

    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    align-self: flex-end;

}

.review__name{

    margin-top: 25px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

}

.review__post{

    color: #ffdd99;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;

}


.feedback{

    background-color: #3c5499;
    /*height: 100vh;*/

}

.feedback .header{

    background-color: #3c5499;

}

.feedback .nav__link:hover{

    background-color: #2a3d73;

}

.feedback .block-title__subheading{

    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    max-width: 782px;
}

.feedback__content{

    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin: 75px 0 0;*/

}


/*.form{*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 75px 0 0;*/
/*    justify-content: center;*/
/*}*/

.form__content{

    display: flex;
    flex-wrap: wrap;
    margin: 75px 0 0;
    justify-content: center;

}

.form__content input::placeholder{

    color: #ffffff;
    font-size: 18px;
    opacity: 90%;

}

.form__content textarea::placeholder{

    color: #ffffff;
    font-size: 18px;
    opacity: 90%;

}


.form__username{

    background-color: #273a71;
    max-width: 414px;
    max-height: 56px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 16px 0;
    width: calc( 50% - 32px);

}

.form__message{


    max-width: 865px;
    min-height: 200px;
    background-color: #273a71;
    border: 0;
    margin: 27px 16px 0 ;
    border-radius: 5px;
    padding: 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    width:100%;


}

.form__button{

    min-width: 293px;
    min-height: 70px;
    background-color: #30bae7;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    border-radius:5px;
    margin: 60px auto 0;


}

.form__button:hover{

    background-color: #249cc1;
    
}


.footer{
    background-color: #344b8e;

}

.footer__container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 112px;
    align-items: center;

}

.footer__nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
}


.footer-nav__link{

    height: 23px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

}

.footer-nav__link:hover{
    color: #30bae7;
}


@media screen and (max-width: 768px) {

.header {
    display: none;
}

    .introduction .heading{

        margin: 0 5px;

    }

    .content-block__title{

        font-size: 20px;
        line-height: 1;

    }

.services .container{

    margin: 0 10px;

}

.services .block-title__heading{

    line-height: 1;

}


.services__content{

    overflow-x: scroll;
    overflow-y: hidden;

}

 .content-block{
    /*width: calc(25% - 20px);*/
    min-width: 150px;
    margin-right: 10px;
}

    .services .content-block__title{
        /*font-size: 12px;*/
        margin-top: 20px;
        /*line-height: 1.2;*/
    }



    .services img {
        height: 70px;
    }


    .services .content-block__image-wrap{

        min-height: 1px;

    }

.team .container{

    margin: 0 10px;

}

    .team .content-block__title{

        margin-top: 30px;
        line-height: 1;

    }

    .team .content-block__position{

        margin-top: 10px;

    }

    .team .content-block__image-wrap{

        min-height: unset;

    }

    .team .content-block__image-wrap img{

        height: 70px;

    }

    .content-block__contacts img{

        height: 25px;

    }

    .skills svg{

        height: 100px;
        width: 100px;
    }

    .skills .skills-content{

        margin-top: 60px;
    }

    .skills .skills-content__circle:nth-child(3), .skills-content__circle:nth-child(4){

        margin-top: 60px;

    }

    .skills-content__circle{

        width: 50%;

    }

    .skills .progress-ring{

        display: flex;
        justify-content: center;

    }

    .skills input{

        width: 30px;
        height: 30px;
        font-size: 20px;
        padding-left: unset;

    }

    .skills .skill-name{

        font-size: 20px;
        margin-top: 20px;
        line-height: 1;

    }

    .skills .progress-ring__percent::after{

        font-size: 20px;

    }

    .skills-pure .circles{

        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .skills-pure svg{

        width: 100px;
        height: 100px;

    }

   /* .circles:nth-child(3), .circles:nth-child(4){*/

   /*    margin-top: 60px;*/

   /*}*/

    .skills-pure .circles{

        margin-top: unset;

    }

    .skills-pure .card{

        margin-top: 60px;

    }

    .skills-pure .card{

        width: 50%;

    }

    .skills-pure .text{

        font-size: 20px;
        margin-top: 20px;
        line-height: 1;

    }

    .skills-pure .percents{

        margin-left: 10px;
        font-size: 20px;

    }

    .team .content-block__image-wrap{
        /*border-radius: 50%;*/
        /*overflow: hidden;*/
        /*width: 100%;*/
    }

    /*.team .content-block{*/
    /*    !*width: calc(25% - 20px);*!*/
    /*    min-width: 150px;*/
    /*    margin-right: 10px;*/
    /*}*/


    .portfolio .container{

        margin: 0 10px;

    }

    .portfolio img{

        height: 200px;

    }

    .portfolio .portfolio__link{

        width: 75px;

    }

    .portfolio .work-examples__block{

        margin-top: 55px;

    }

    .portfolio .work-examples__name{
        margin-top: 10px;

    }

    .about .reviews{

        margin-top: unset;

    }

    .about .review{

        margin-top: 80px;

    }

    .about .review__avatar{

    margin-left: 50px;

    }


    .feedback .container{

        margin: 0 5px;
    }

    .feedback .form__content{

        margin-top: 50px;

    }

    .feedback .form__username{

        margin-top: 15px;
        width: 100%;

    }

    .footer__nav{

        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
    }

    .footer-nav__link{

        line-height: 1;
        margin: 10px 11px;

    }
}